* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  color: #DAD3C5;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #fff;
}

.header .header__img {
  width: 180px;
  margin-left: none;
}

nav,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
}

a:hover {
  opacity: 1;
  color: #FF8C00;
}

header nav {
  display: flex;
}

header li a {
  color: black;
}

header li {
  margin: 0px 15px;
}

header li:first-child {
  margin-left: 0;
}

header li:last-child {
  margin-left: 0;
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }

  header img {
    scroll-margin-bottom: 15px;
  }
}
.hero {
  background-image: url(../img/hero.jpg);
  background-size: cover;
  min-height: 100vh;
  color: #DAD3C5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero h1 {
  color: #FF8C00;
  font-size: 2.3rem;
  margin-bottom: 15px;
  text-align: center;
}

.hero h3 {
  color: #FF8C00;
  font-size: 2rem;
  margin-bottom: 15px;
  text-align: center;
}

.hero .btn {
  background-color: #DAD3C5;
  border-radius: 4px;
  color: #FF8C00;
  padding: 20px 50px;
  text-transform: uppercase;
  transition: 0.3s;
}
.hero .btn:hover {
  color: #DAD3C5;
  background-color: #FF8C00;
}

@media (max-width: 700px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .hero h3 {
    font-size: 1.5rem;
  }
}
.conhecaHog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px;
}

.conhecaHog h3 {
  color: #708090;
  font-size: 2rem;
  margin-bottom: 35px;
}

.conhecaHog p {
  color: #708090;
  max-width: 800px;
  margin-bottom: 35px;
  text-align: center;
}

.conhecaHog hr {
  background-color: #708090;
  width: 200px;
  min-height: 2px;
  background-color: black;
  margin-bottom: 70px;
  border: none;
}

.conhecaHog .grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.conhecaHog .grid li {
  height: 350px;
  padding: 20px;
  border-radius: 4px;
  background-clip: content-box;
  background-size: cover;
  position: center;
}

.conhecaHog .grid li.small {
  flex-basis: 40%;
}

.conhecaHog .grid li.large {
  flex-basis: 60%;
}

@media (max-width: 700px) {
  .conhecaHog .grid li.small,
.conhecaHog .grid li.large {
    flex-basis: 100%;
  }
}
.caracter {
  background-color: #b38865;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px;
}

.caracter h3 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 35px;
}

.caracter p {
  color: #fff;
  max-width: 800px;
  margin-bottom: 35px;
  text-align: center;
}

.caracter hr {
  background-color: #fff;
  width: 200px;
  min-height: 2px;
  background-color: black;
  margin-bottom: 70px;
  border: none;
}

.caracter .grid {
  width: 100%;
  display: flex;
}

.ingressar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 100px;
}

.ingressar h3 {
  color: #708090;
  font-size: 2rem;
  margin-bottom: 35px;
}

.ingressar p {
  color: #708090;
  max-width: 800px;
  margin-bottom: 35px;
  text-align: center;
}

.ingressar hr {
  color: #708090;
  width: 200px;
  min-height: 2px;
  margin-bottom: 70px;
  border: none;
}

.ingressar .grid {
  background-color: #708090;
  width: 100%;
  display: flex;
}

.ingressar form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  max-width: 800px;
}

.ingressar input {
  padding: 15px;
  border: 1px solid #708090;
  border-radius: 4px;
  margin-right: 15px;
  flex: 1;
}

.ingressar button {
  padding: 15px;
  background-color: #708090;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .ingressar input {
    flex-basis: 100%;
    margin-bottom: 15px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  background-color: #708090;
  padding: 50px 50px;
}

.footer ul {
  display: flex;
  margin-bottom: 25px;
}

.footer ul li {
  margin-right: 10px;
}

.footer ul li:last-child {
  margin-right: 0;
}

.footer ul li {
  color: #708090;
  font-size: 2rem;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
